body{
    font-family: 'Montserrat';
}
#title{
    background-color:#ff4c68;
    color:#fff;
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}
h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
#Brand{
    font-size: 3rem;
}
/* navgaition bar */
.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
}
.Download-button{
    margin: 5% 3% 5% 0;

}
.title-img{
    width: 60%;
    transform: rotate(25deg);
}
.features-icon{
    color:#fdc1b9;
    margin-bottom: 10px;
    
}
.features-icon:hover{
    color: #ff4c68;
}
#feature{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
}
#testimonials {
    text-align: center;
    background-color: #fdc1b9;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 50%;
}
.carousel-item{
    padding: 5% 17%;

}
#press{
    background-color: #fdc1b9;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}